

@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
   font-family: "Open Sans", sans-serif;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: #071335;
    color: #360404;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container, .container-relatorio {
    background: rgb(236, 236, 240);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 110px;
}

h1 { 
    color: #2c3e50; 
    text-align: center; 
    margin-bottom: 25px; 
}
h3 { 
    background: #3498db; 
    color: white; padding: 10px; 
    border-radius: 5px;
     margin-top: 20px;
 }

.card { 
    margin-bottom: 20px; 
}

label {
     font-weight: bold;
      display: block; 
      margin-bottom: 8px; }

select, input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    transition: 0.3s;
    font-weight: bold;
}

.btn-confirmar {
    background-color: #27ae60;
    color: white;
    width: 100%;
}

.btn-confirmar:hover { 
    background-color: #05381a; 
    color: #b6cec0;
}

.btn-acao {
    background-color: #106bc7;
    color: white;
    margin-top: 10px;
}
.btn-link:hover {
    background-color: #0e33ac;
    color: white;
    margin-top: 10px;
}
.btn-excel{
    background-color: #189b13;
    color: white;
    margin-top: 10px;
}
.btn-excel:hover {
    background-color: #66a863;
    color: white;
    margin-top: 10px;
}
.btn-limpar:hover {
    background-color: #c0392b;
    color: white;
    margin-top: 10px;
}
.btn-voltar:hover {
    background-color: #0e33ac;
    color: white;
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

th { 
    background-color: #f9f9f9; color: #7f8c8d; }


.venda-destaque {
    color: #e67e22;
    font-weight: bold;
}

.secao-relatorio { 
    margin-bottom: 30px;
 }


